/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "openSans";
  src: url("../fonts/openSans/OpenSans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "openSansBold";
  src: url("../fonts/openSans/OpenSans_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "openSansSemiBold";
  src: url("../fonts/openSans/OpenSans_Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "robotoLight";
  src: url("../fonts/roboto/Roboto_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/Roboto_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "fontAwesome";
  src: url("../fonts/fontAwesome/fontawesome-webfont.eot?") format("eot"), url("../fonts/fontAwesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontAwesome/fontawesome-webfont.woff") format("woff"), url("../fonts/fontAwesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontAwesome/fontawesome-webfont.svg#fontawesome-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "softAdmin";
  src: url("../fonts/softAdmin/soft_admin.eot?") format("eot"), url("../fonts/softAdmin/soft_admin.woff") format("woff"), url("../fonts/softAdmin/soft_admin.ttf") format("truetype"), url("../fonts/softAdmin/soft_admin.svg#soft_admin") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:after, .icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "softAdmin", "fontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.arrowDown:after {
  content: "\e64b";
  font-size: 10px;
  padding-bottom: 3px;
  padding-left: 6px; }

.standart:before {
  content: "\e6d4";
  font-size: 44px;
  color: #169f18;
  padding-right: 48px;
  padding-left: 6px; }

.materials:before {
  content: "\e930";
  font-size: 46px;
  color: #169f18;
  padding-right: 40px;
  padding-left: 2px; }

.goblet:before {
  content: "\e147";
  font-size: 48px;
  color: #169f18;
  padding-right: 40px;
  padding-left: 6px; }

.price:before {
  content: "\e153";
  font-size: 45px;
  color: #169f18;
  padding-right: 40px;
  font-weight: 500; }

.pin:before {
  content: "\e16b";
  font-size: 48px;
  color: #169f18;
  padding-right: 54px;
  padding-left: 6px; }

.fb:after {
  font-family: "fontAwesome";
  content: "\f09a";
  height: 20px;
  width: 20px;
  padding: 5px;
  color: white; }

.instagram:after {
  font-family: "fontAwesome";
  content: "\f16d";
  height: 20px;
  width: 20px;
  padding: 5px;
  color: white; }

body {
  background-color: white;
  font-family: "openSans", Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #444444;
  font-weight: normal;
  line-height: 160%;
  position: relative; }

h1 {
  font-family: "openSans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 160%;
  position: relative; }

a {
  text-decoration: none;
  color: #444444;
  cursor: pointer; }
  a:hover, a:focus {
    color: #000000; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.wrapperThinner {
  max-width: 1100px;
  margin: 0 auto; }

.welcome {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(237, 237, 237, 0.1) 43%, rgba(255, 255, 255, 0.4) 100%), url("../img/main_photo_1500.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1; }

.mottoContainer {
  position: relative;
  height: 550px;
  width: 90%;
  margin: auto;
  z-index: 1; }
  .mottoContainer .text {
    position: absolute;
    width: 400px;
    z-index: 2;
    top: 20%; }
    .mottoContainer .text .stomatology {
      color: #008c00;
      font-family: "openSansBold", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 3pt;
      line-height: 120%; }
    .mottoContainer .text .nozhenko {
      color: #cc102c;
      font-family: "openSansBold", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 3pt;
      line-height: 120%; }
    .mottoContainer .text h2 {
      padding-top: 20px;
      font-size: 26px;
      font-family: "openSansSemiBold", Arial, Helvetica, sans-serif;
      line-height: 140%; }

.button {
  height: 50px;
  margin: 50px 0; }
  .button a {
    background: #169f18;
    border-bottom: 5px solid #008c00;
    padding: 15px 38px;
    font-family: "openSansBold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    line-height: 160%;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .button a:hover, .button a:focus {
      background: #008c00; }
    .button a:active {
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      background: #017001;
      border-bottom: 5px solid #005600; }

h1.title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 45px; }
  h1.title .titleGrey {
    color: #444444; }
  h1.title .titleRed {
    color: #cc102c; }

.titleH2 {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 120%;
  color: #444444;
  text-align: left; }

.advantages .flexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto;
  width: 100%; }
  .advantages .flexCont .advList {
    padding-left: 5%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80%;
    width: 50%; }
    .advantages .flexCont .advList li {
      position: relative;
      margin-bottom: 4%;
      font-family: "robotoLight", Arial, Helvetica, sans-serif;
      font-size: 24px;
      line-height: 120%;
      font-weight: bold; }
  .advantages .flexCont .advImg {
    width: 50%; }
    .advantages .flexCont .advImg img {
      height: auto;
      width: 100%; }

.certificates .flexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: auto;
  width: 100%; }

.certificates .outer {
  position: relative;
  background: #f6f6f6;
  width: 500px;
  height: 200px;
  display: inline-block;
  margin-bottom: 40px; }
  .certificates .outer .certName {
    position: absolute;
    margin: 30px 250px;
    font-family: "robotoLight", Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 120%;
    font-weight: bold; }
    .certificates .outer .certName .certDescr {
      position: absolute;
      bottom: -1;
      top: 1;
      left: 0;
      right: 0;
      padding-top: 50px;
      font-family: "robotoLight", Arial, Helvetica, sans-serif;
      font-size: 23px;
      line-height: 120%;
      font-weight: bold; }
  .certificates .outer img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 40px; }
  .certificates .outer .inner {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto 184px;
    background: white;
    width: 310px;
    height: 186px; }
    .certificates .outer .inner .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 32px 0 32px 40px;
      border-color: transparent transparent transparent #f6f6f6;
      margin-top: 70px; }

.form {
  background-image: url("../img/form_bg.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .form .flexForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end; }
  .form .wrapperThin {
    max-width: 1100px;
    margin: 0 auto; }
    .form .wrapperThin .enroll {
      padding-top: 50px;
      padding-bottom: 20px;
      margin-right: 8%;
      font-size: 36px;
      font-weight: 600;
      line-height: 120%;
      text-align: center; }
  .form .flexForm input {
    width: 368px;
    height: 38px;
    margin: 15px 0;
    padding: 6px 0 0 10px;
    border-style: none;
    border: 1px solid #cccccc;
    font-size: 20px; }
  .form .flexForm submit {
    border: none; }
  .form .flexForm select {
    width: 378px;
    height: 40px;
    margin: 15px 0;
    padding: 6px 0 0 10px;
    border-style: none;
    border: 1px solid #cccccc;
    font-size: 20px; }
  .form .flexForm .buttonSubmit {
    width: 378px;
    height: 56px;
    background-color: #169f18;
    color: white;
    border-bottom: 5px solid #008c00;
    padding: 15px 38px;
    text-transform: uppercase;
    font-family: "openSansBold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    line-height: 160%;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .form .flexForm .buttonSubmit:hover, .form .flexForm .buttonSubmit:focus {
      background: #008c00; }
    .form .flexForm .buttonSubmit:active {
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.8);
      background: #017001;
      border-bottom: 5px solid #005600; }

::-webkit-input-placeholder {
  color: #cccccc; }

::-moz-placeholder {
  color: #cccccc; }

header {
  position: relative;
  margin: auto;
  padding-top: 10px; }
  header ul.upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
    header ul.upper a {
      line-height: 280%;
      text-shadow: 5px 5px 10px #dddddd;
      font-size: 18px; }
  header ul.lower {
    position: relative;
    bottom: 25px;
    right: 13%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start; }
    header ul.lower li {
      margin: 0 30px; }
      header ul.lower li a {
        line-height: 280%;
        text-shadow: 5px 5px 10px #dddddd;
        font-size: 18px;
        text-decoration: underline; }

.history, .services {
  clear: both;
  position: relative; }

.flexContLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto;
  width: 100%; }

.flexContRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: auto;
  width: 100%; }

.flexImg {
  width: 33%;
  height: 500px;
  overflow: hidden; }
  .flexImg img {
    height: auto;
    width: 100%; }

.flexNav {
  width: 33%;
  height: 500px;
  background-color: #f6f6f6; }
  .flexNav ul {
    padding-left: 15%;
    margin-top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 80%; }
    .flexNav ul a {
      font-family: "robotoLight", Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 120%;
      font-weight: bold;
      color: #aaaaaa;
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease;
      text-align: left;
      cursor: pointer; }
      .flexNav ul a:hover, .flexNav ul a:focus {
        font-size: 18px;
        color: #444444;
        font-weight: bold; }
    .flexNav ul .chosen, .flexNav ul .chosenService {
      font-size: 18px;
      color: #008c00;
      font-weight: bold; }

.flexText {
  width: 34%;
  height: 460px;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%; }
  .flexText .flexImg {
    width: 33%;
    padding-left: 5%; }
    .flexText .flexImg img {
      height: auto;
      width: 100%; }

.textContainer {
  font-family: "robotoLight", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
  text-align: left;
  margin-top: 30px; }

.textContainer.hiddenText {
  display: none; }

.textContainer.activeText {
  display: normal; }

.flexContBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 600px; }
  .flexContBetween .adressSwitchers {
    width: 40%;
    height: auto; }
  .flexContBetween .flexImg {
    width: 60%;
    height: auto; }
    .flexContBetween .flexImg img {
      height: 600px; }

.square {
  height: 300px; }

.adressTextWrapper {
  padding: 5% 5% 5% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: vertical;
  -moz-flex-direction: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .adressTextWrapper a.street {
    position: relative;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 2%; }
    .adressTextWrapper a.street span {
      position: absolute;
      font-size: 16px;
      top: 120%;
      left: 60%;
      bottom: 0;
      right: 0; }

ul.phonesCont {
  margin-top: 10px; }
  ul.phonesCont li a.phone {
    font-family: "openSans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 22px;
    line-height: 120%; }

.schedule {
  margin-top: 20px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 120%;
  color: white; }
  .schedule span {
    font-size: 14px;
    position: relative;
    bottom: 5px; }

.nonactive {
  background-color: #aaaaaa; }

.current {
  background-color: #008c00; }

.flexContAround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%; }
  .flexContAround .docTextCont {
    width: 60%;
    padding-right: 10%;
    height: 350px;
    overflow: hidden; }

.imgsScrollWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25%;
  margin: 5% 2% 0 5%; }
  .imgsScrollWrapper .imgsPrev {
    min-width: 250px;
    height: 350px;
    overflow: scroll; }
    .imgsScrollWrapper .imgsPrev img {
      cursor: pointer; }

.activeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 75%;
  margin: 0 5% 0 0; }
  .activeWrapper .photoContainer {
    width: 700px;
    height: 450px;
    overflow: hidden; }
    .activeWrapper .photoContainer .galleryContent {
      width: 100%;
      height: 450px;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; }

.photoContainerDoc {
  width: 350px;
  height: 350px;
  overflow: hidden; }
  .photoContainerDoc .galleryContent {
    width: 100%;
    height: 350px;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }

.buttonGallery {
  position: relative;
  top: 40%;
  margin: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }

.buttonGallery.prev {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 35px 30px 0;
  border-color: transparent #AAAAAA transparent; }
  .buttonGallery.prev:hover, .buttonGallery.prev:focus {
    border-color: transparent #888888 transparent; }

.buttonGallery.next {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 35px;
  border-color: transparent #AAAAAA transparent; }
  .buttonGallery.next:hover, .buttonGallery.next:focus {
    border-color: transparent #888888 transparent; }

.docsButtons {
  top: 125px; }

#map {
  height: 400px; }

footer {
  height: 300px;
  background-color: #017025; }
  footer .wrapperThin {
    margin: 0 auto;
    width: 1100px; }
    footer .wrapperThin .slogan, footer .wrapperThin .address, footer .wrapperThin .schedule, footer .wrapperThin .contacts {
      width: 25%;
      color: white;
      margin-top: 50px; }
      footer .wrapperThin .slogan h3, footer .wrapperThin .address h3, footer .wrapperThin .schedule h3, footer .wrapperThin .contacts h3 {
        margin-bottom: 25px;
        font-family: "openSans", Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase; }
      footer .wrapperThin .slogan p, footer .wrapperThin .address p, footer .wrapperThin .schedule p, footer .wrapperThin .contacts p {
        width: 90%;
        font-family: "roboto", Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 120%; }
      footer .wrapperThin .slogan .social, footer .wrapperThin .address .social, footer .wrapperThin .schedule .social, footer .wrapperThin .contacts .social {
        margin-top: 14px; }

.address {
  margin-left: 10%; }
  .address ul {
    width: 90%; }
    .address ul li {
      font-family: "roboto", Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 130%;
      text-align: left;
      margin-bottom: 20px; }
      .address ul li a {
        font-family: "robotoLight", Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 120%;
        text-decoration: underline;
        color: white; }

.schedule {
  margin-left: 10%; }
  .schedule ul li {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 140%;
    text-align: left; }

.contacts {
  text-align: right; }
  .contacts ul li {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 140%; }
    .contacts ul li a {
      color: white; }

.developers {
  width: 100%;
  padding-top: 25px; }
  .developers a {
    position: relative;
    width: 185px;
    padding-left: 120px;
    display: block;
    margin: 0 auto;
    font-family: "robotoLight", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: white; }
    .developers a:before {
      content: " ";
      background-image: url("../img/soft_logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 50px;
      position: absolute;
      right: 183px;
      top: -17px; }
