@import "variables"
@import "mixins"

    
header
    position: relative
    margin: auto
    padding-top: 20px
    
    ul 
        @include flexbox
        @include justify-content(space-around)
        @include align-items(center)
        
        
        a
            line-height: 280%
  
.burger
    
        