
.icon
    &:after, &:before
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: $softAdmin
        speak: none
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none
        line-height: 1
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale


.arrowDown
    &:after
        content: "\e64b"
        font-size: 10px
        padding-bottom: 3px
        padding-left: 6px
    
.standart
    &:before
        content: "\e6d4"
        font-size: 44px
        color: $green
        padding-right: 48px
        padding-left: 6px
        
    
.materials
    &:before
        content: "\e930"
        font-size: 46px
        color: $green
        padding-right: 40px
        padding-left: 2px
    
.goblet
    &:before
        content: "\e147"
        font-size: 48px
        color: $green
        padding-right: 40px
        padding-left: 6px
        
        
    
.price
    &:before
        content: "\e153"
        font-size: 45px
        color: $green
        padding-right: 40px
        font-weight: 500
    
.pin
    &:before
        content: "\e16b"
        font-size: 48px
        color: $green
        padding-right: 54px
        padding-left: 6px
    
.fb
    &:after
        font-family: $fontAwesome
        content: "\f09a"
        height: 20px
        width: 20px
        padding: 5px
        color: $white
.instagram
    &:after
        font-family: $fontAwesome
        content: "\f16d"
        height: 20px
        width: 20px
        padding: 5px
        color: $white