body 
    background-color: $white
    font-family: $openSans
    font-size: 18px
    color: $greyDarkText
    font-weight: normal
    line-height: 160%
    position: relative
    
h1
    font-family: $openSans
    font-size: 45px
    font-weight: normal
    line-height: 160%
    position: relative

a
    text-decoration: none
    color: $greyDarkText
    
.welcome
    background: url("../img/main_photo_1500.jpg")
    height: 700px
    background-size: cover
    background-repeat: no-repeat
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    
    
    

  
