@import "mixins"
@import "variables"

.history, .services
    clear: both
    position: relative
    
.flexContLeft
    @include flexbox
    @include justify-content(space-between)
    height: auto //set height
    width: 100%
    
.flexContRight
    @include flexbox
    @include justify-content(space-around)
    height: auto //set height
    width: 100%
    
.flexImg
    width: 33%
    height: 500px
    overflow: hidden
    img
        height: auto 
        width: 100%

.flexNav
    width: 33%
    height: 500px
    background-color: $greyBg
    ul
        padding-left: 15%
        margin-top: 15%
        @include flexbox
        @include flex-direction(column)
        @include justify-content(space-around)
        height: 80% 
        a
            font-family: $robotoLight
            font-size: 18px
            line-height: 120%
            font-weight: bold
            color: $greyLightText
            @include transition (color 0.5s ease)
            text-align: left
            cursor: pointer
            &:hover, &:focus
                font-size: 18px
                color: $greyDarkText
                font-weight: bold
        .chosen, .chosenService
            font-size: 18px
            color: $greenDark
            font-weight: bold
        
.flexText
    width: 34%
    height: 460px
    overflow: hidden
    padding-left: 5%
    padding-right: 5%
    
    .flexImg
        width: 33%
        padding-left: 5%
        img
            height: auto //set height
            width: 100%
    
.textContainer
    font-family: $robotoLight
    font-weight: bold
    font-size: 20px
    line-height: 160%
    text-align: left
    margin-top: 30px
    @include transition (0.5s ease)

.textContainer.hiddenText
    display: none
    transition: opacity 1s linear
    
.textContainer.activeText
    display: normal
    transition: opacity 1s linear

